body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgoldenrod;
    color: black;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: gold;
    text-decoration: none;
}

.hero {
    background-image:url('file:///C:\Users\HP\Downloads\WhatsApp Image 2024-05-28 at 8.19.43 PM.jpeg');
    ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.hero-content {
    text-align: center;
}

.hero-image {
    width: 50%;
    margin: 0 auto;
}

.about {
    background-color: #808080;
    padding: 2em;
}

    .about img {
        width: 30%;
        margin: 0 auto;
    }

.products {
    background-color: #ffffff;
    padding: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product {
    background-color: #808080;
    padding: 1em;
    border: 1px solid #ddd;
}

    .product img {
       
        object-fit: cover;
    }

footer {
    background-color: darkgoldenrod;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
